* {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    line-height: 1.5rem;
}

body {
    line-height: 1.6em;
    font-size: 20px;
}

.font-sans {
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.bg-blue-dark {
    --tw-bg-opacity: 1;
    background-color: #0c142e;
}

/* eliminare stili di default link */
a {
    text-decoration: none;
    color: currentColor;
}

/* eliminare stili di default lista */
.list-none {
    list-style: none;
}

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.wrap {
    flex-wrap: wrap;
}

.px-20 {
    padding-left: 1rem;
    padding-right: 1rem;
}

.px-40 {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}

.py-20 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.py-40 {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}

.p-20 {
    padding: 1.25rem;
}

.py-160 {
    padding: 10rem 0;
}

.justify-between {
    justify-content: space-between;
}

.justify-end {
    justify-content: end;
}

.justify-evenly {
    justify-content: space-evenly;
}

.justify-around {
    justify-content: space-around;
}

.items-center {
    align-items: center;
}

.text-white {
    --tw-text-opacity: 1;
    color: #ffffff;
}

.text-center {
    text-align: center;
}

.font-bold {
    font-weight: 700;
}

.font-thin {
    font-weight: 100;
}

.text-xs {
    font-size: 0.75rem;
    line-height: 1rem;
}

.text-sm {
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.text-base {
    font-size: 1rem;
    line-height: 1.5rem;
}

.text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem;
}

.text-xl {
    font-size: 1.25rem;
    line-height: 1.75rem;
}

.text-2xl {
    font-size: 1.5rem;
    line-height: 2rem;
}

.text-3xl {
    font-size: 1.8rem;
    line-height: 2.25rem;
}

.text-4xl {
    font-size: 2.25rem;
    line-height: 2.5rem;
}

.text-5xl {
    font-size: 3rem;
    line-height: 1;
}

.text-hotpink {
    --tw-text-opacity: 1;
    color: hotpink;
}

.hover\:text-hotpink:hover {
    --tw-text-opacity: 1;
    color: hotpink;
}


.transition-all {
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}

.underline {
    text-decoration-line: underline;
}

.decoration-transparent {
    text-decoration-color: transparent;
}

.duration-200 {
    transition-duration: 200ms;
}

.duration-400 {
    transition-duration: 400ms;
}

.hover\:decoration-hotpink:hover {
    text-decoration-color: hotpink;
}
.github-link {
    height: 45px;
}
.github-text {
    opacity: 0;
    transform: translateX(20px);
    transition: opacity 0.3s ease, transform 0.3s ease, background-color 0.3s ease;
}

.github-link:hover .github-text {
    opacity: 1;
    transform: translateX(0);
    background-color: hotpink;
    border-radius: 1.25rem;
    padding: 5px 10px;

}

.git-hub-mark-svg {
    cursor: pointer;
    transform: scale(0.3);
    width: 100px;
    height: 100px;
}

.fill-white {
    fill: #fff;
}

.hover\:fill-hotpink:hover {
    fill: hotpink;
}

.ease-in {
    transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
}

.w-10 {
    width: 2.5rem
        /* 40px */
    ;
}

.hover\:cursor-pointer:hover {
    cursor: pointer;
}

.index-card {
    width: 100%;
}

.card {
    border-radius: 10px;
    overflow: hidden;
    transition: all 0.2s ease;
    background-color: #15234e;
    color: #ffff;
}


.card-content {
    padding: 25px 25px;
    font-size: 1em;
}

.card-paragraph {
    padding-top: 1em;
    /* 16px */
}

.m-16 {
    margin: 1rem;
}

/* Underline styles - Slide in */
.card-title {

    display: block;
    position: relative;
    padding: 0 0 0.15em;
}

/* Fade in */
.card-title::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 4rem;
    height: 0.1em;
    background-color: hotpink;
    opacity: 0;
    transition: opacity 300ms, transform 300ms;
}

/* Slide in */
.card-title {
    overflow: hidden;
}

.card-title::after {
    opacity: 1;
    transform: translate3d(-100%, 0, 0);
}

.card-title:hover::after,
.card-titlefocus::after {
    transform: translate3d(0, 0, 0);
}

/* Scale from center */
/* li:nth-child(3) a::after {
    opacity: 1;
    transform: scale(0);
    transform-origin: center;
}

li:nth-child(3) a:hover::after,
li:nth-child(3) a:focus::after {
    transform: scale(1);
} */